
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23000000' fill-opacity='0.32'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

}

a{
    padding: 20px;
    color: white;
    text-decoration: none;
}

.container{
    font-family: 'Heebo', sans-serif;
    width: 100%;
    background-color: rgba(0,0,0,0.9);
}

ul{
    list-style: none;
}

.nav-main{
    font-size: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 66px;
    padding: 20px 0px;
}

.nav-main ul{
    display: flex;
}

.nav-main ul li{
    padding: 10px;
}

.nav-main ul li a:hover{
    border-bottom: 2px solid orange;
}


.uno{
    width: 350px;
    height: 350px;
    margin: 20% 9%;
    background: black;
}

.dos{
    width: 350px;
    height: 350px;
    margin: -38.4% 30%;
    background: black;
}

.tres{
    width: 350px;
    height: 350px;
    margin: 20% 51%;
    background: black;
}

.cuatro{
    width: 350px;
    height: 350px;
    background: black;
    margin: -38.4% 72%;
}

.cinco{
    width: 350px;
    height: 350px;
    margin: 43% 9%;
    background: black;
}
.seis{
    width: 350px;
    height: 350px;
    margin: -61.5% 29.9%;
    background: black;
}

.siete{
    width: 350px;
    height: 350px;
    margin: 43% 51%;
    background: black;
}

.ocho{
    width: 350px;
    height: 350px;
    margin: -61.3% 72%;
    background: black;
}


.uno img{
    width: 350px;
    height: 350px;
}

.uno h3{
    position: absolute;
    color:white;
    font-size: 45px;
    float: left;
    margin: 145px 4.2%;
    font-family: 'Oswald', sans-serif;
}

.dos img{
    width: 350px;
    height: 350px;
}

.dos h3{
    position: absolute;
    color:white;
    font-size: 45px;
    float: left;
    margin: 145px 2.6%;
    font-family: 'Oswald', sans-serif;
}

.tres img{
    width: 350px;
    height: 350px;
}

.tres h3{
    position: absolute;
    color:white;
    font-size: 45px;
    float: left;
    margin: 145px 3.6%;
    font-family: 'Oswald', sans-serif;
}

.cuatro img{
    width: 350px;
    height: 350px;
}

.cuatro h3{
    position: absolute;
    color:white;
    font-size: 45px;
    float: left;
    margin: 145px 3.6%;
    font-family: 'Oswald', sans-serif;
}

.cinco img{
    width: 350px;
    height: 350px;
}

.cinco h3{
    position: absolute;
    color:white;
    font-size: 45px;
    float: left;
    margin: 145px 6.2%;
    font-family: 'Oswald', sans-serif;
}

.seis img{
    width: 350px;
    height: 350px;
}

.seis h3{
    position: absolute;
    color:white;
    font-size: 45px;
    float: left;
    margin: 145px 6.2%;
    font-family: 'Oswald', sans-serif;
}

.siete img{
    width: 350px;
    height: 350px;
}

.siete h3{
    position: absolute;
    color:white;
    font-size: 45px;
    float: left;
    margin: 145px 7.5%;
    font-family: 'Oswald', sans-serif;
}

.ocho img{
    width: 350px;
    height: 350px;
}

.ocho h3{
    position: absolute;
    color:white;
    font-size: 45px;
    float: left;
    margin: 145px 7.5%;
    font-family: 'Oswald', sans-serif;
}

.uno img:hover{
    opacity: .3;
}
.dos img:hover{
    opacity: .3;
}
.tres img:hover{
    opacity: .3;
}
.cuatro img:hover{
    opacity: .3;
}
.cinco img:hover{
    opacity: .3;
}
.seis img:hover{
    opacity: .3;
}
.siete img:hover{
    opacity: .3;
}
.ocho img:hover{
    opacity: .3;
}

h1{
    width: auto;
    font-size: 61px;
    font-family: 'Oswald', sans-serif;
    float:none;
    width: 100%;
    margin-bottom: -12%;
    margin-left: 14.05%;
    margin-top: 5%;
}

.mapa{
    margin-top: 70%;
    margin-left: 30%;
}
